stages:
  - prep
  - test
  - staging
  - deploy


variables:
  RESOURCE: 23E5F251-1799-4444-BBCD-1A109921633A


Preparing container:
  stage: prep
  script:
    - docker build -t nodebender/managemystuff:testing webapi
  tags: 
    - build_dev
    
    
Run the test suite:
  stage: test
  script:
    - docker run --rm nodebender/managemystuff:testing pytest --log-cli-level 0
  tags: 
    - build_dev


Build and register container:
  stage: staging
  script:
    - register_container $CI_COMMIT_TAG
  tags:
    - build_dev
  only:
    - tags


Call for deployment:
  stage: deploy
  script:
    - echo "Deploying ${CI_COMMIT_TAG}"
  tags:
    - build_dev
  only:
    - tags
